body {
    background: #ccc;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: auto;
/* keep this */}
		

header {-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;



	
}
nav {
	
float:right;

display: inline;


}

ul li {display: inline;
padding:30px;
}



h2 {text-align:center;

}	
img {display:block;
margin:auto;} 
	 
#cougar {display:block;
margin:auto;
	background: #ffd5ae;
	width:100%;
	padding:20px 50px;


}
 #lion {display:block;
	 background:#b26219;
	 Width:100%;
	 padding:20px, 50px;
			  
		  }
#tiger { display:block;
	Background: #82e8ff;
	width:100%;
	
	padding: 20px 50px;
	
}
p {text-align:center;
}
p image{
display:block;
margin:auto;

}
article p{text-align:left;}

article{
	width:500px;
	Padding: 15px 40px;
	Margin: auto;
	border: 2px #333;
	background: #fff;
	
}

footer {background:#ccc;
text-align:center;
width:650px;
margin:50px auto;
border:2px #333;}
 
  
}
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
