body {
    background: #ccc;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: auto;
/* keep this */}
		

header {


	
}
nav {
	
float:right;

display: inline;


}

ul li {display: inline;
padding:30px;
}


div h1{float: left;
width:50%;}

div{float:left;
width:50%

	
}



#cougar {
	display:block;
    background: #ffd5ae;
	width:100%;
	margin:auto;
	clear:both;
	height:30%;


}

 #lion {display:block;
	 background:#b26219;
	 Width:100%;
	 clear:both;
	 margin: auto;
	 height:30%;
	 border-width: 1000px;
	 border-style:none;
	 
	 
		  }
#tiger { Display:block;
	Background: #82e8ff;
	Margin:auto;
	clear:both;
	width:100%;
	height:30%;
       }
	
	

	

footer {background:#ccc;
text-align:center;
width:50%;
margin:auto;
border:2px #333;
}
 
  

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a {color: #379CB2; }
a:hover {color: #82E8FF; }
